--///////////////////////////////////////////--
--//////////////////PK///////////////////////--
--///////////////////////////////////////////--

ALTER TABLE CATALOGO
ADD PRIMARY KEY (ID_SERVICIO, ID_PRODUCTO);

ALTER TABLE CONSUMOS
ADD PRIMARY KEY (ID);

ALTER TABLE HABITACIONES
ADD PRIMARY KEY (ID);

ALTER TABLE HOTELES
ADD PRIMARY KEY (ID);

ALTER TABLE PLANES_DE_CONSUMO
ADD PRIMARY KEY (ID);

ALTER TABLE PRODUCTOS
ADD PRIMARY KEY (ID);

ALTER TABLE RESERVAS
ADD PRIMARY KEY (ID);

ALTER TABLE SERVICIOS
ADD PRIMARY KEY (ID);

ALTER TABLE TIPO_HABITACIONES
ADD PRIMARY KEY (ID);

ALTER TABLE TIPO_PLANES_DE_CONSUMO
ADD PRIMARY KEY (ID);

ALTER TABLE TIPO_SERVICIOS
ADD PRIMARY KEY (ID);

ALTER TABLE TIPO_USUARIOS
ADD PRIMARY KEY (ID);

ALTER TABLE USUARIOS
ADD PRIMARY KEY (NUM_IDENTIDAD, TIPO_DOCUMENTO);

--///////////////////////////////////////////--
--//////////////////FK///////////////////////--
--///////////////////////////////////////////--

--//////////////////CATALOGO////////////////////--

ALTER TABLE CATALOGO
ADD CONSTRAINT fk_catalogo_servicio
  FOREIGN KEY (id_servicio)
  REFERENCES SERVICIOS(ID);

ALTER TABLE CATALOGO
ADD CONSTRAINT fk_catalogo_producto
  FOREIGN KEY (ID_PRODUCTO)
  REFERENCES PRODUCTOS(ID);

--//////////////////CONSUMOS////////////////////--

ALTER TABLE CONSUMOS
ADD CONSTRAINT fk_consumos_habitacion
  FOREIGN KEY (id_habitacion)
  REFERENCES HABITACIONES(ID);

ALTER TABLE CONSUMOS
ADD CONSTRAINT fk_consumos_servicio
  FOREIGN KEY (ID_SERVICIO)
  REFERENCES SERVICIOS(ID);

ALTER TABLE CONSUMOS
ADD CONSTRAINT fk_consumos_usuario
  FOREIGN KEY (ID_USUARIO, TIPO_DOCUMENTO_USUARIO)
  REFERENCES USUARIOS(NUM_IDENTIDAD, TIPO_DOCUMENTO);

--//////////////////HABITACIONES////////////////////--

ALTER TABLE HABITACIONES
ADD CONSTRAINT fk_habitaciones_tipo_hab
  FOREIGN KEY (TIPO_HABITACION)
  REFERENCES TIPO_HABITACIONES(ID);
  
ALTER TABLE HABITACIONES
ADD CONSTRAINT fk_habitaciones_hotel
  FOREIGN KEY (ID_HOTEL)
  REFERENCES HOTELES(ID);

--//////////////////HOTELES////////////////////--

--NADA

--//////////////////PLANES_DE_CONSUMO////////////////////--

ALTER TABLE PLANES_DE_CONSUMO
ADD CONSTRAINT fk_planes_consumo_tipo_plan
  FOREIGN KEY (TIPO_PLAN_CONSUMO)
  REFERENCES TIPO_PLANES_DE_CONSUMO(ID);
  
ALTER TABLE PLANES_DE_CONSUMO
ADD CONSTRAINT fk_planes_de_consumo_hotel
  FOREIGN KEY (ID_HOTEL)
  REFERENCES HOTELES(ID);

--//////////////////PRODUCTOS////////////////////--

ALTER TABLE PRODUCTOS
ADD CONSTRAINT fk_productos_servicio
  FOREIGN KEY (ID_SERVICIO)
  REFERENCES SERVICIOS(ID);

--//////////////////RESERVAS////////////////////--

ALTER TABLE RESERVAS
ADD CONSTRAINT fk_reservas_plan_consumo
  FOREIGN KEY (ID_PLAN_CONSUMO)
  REFERENCES PLANES_DE_CONSUMO(ID);

--//////////////////SERVICIOS////////////////////--

ALTER TABLE SERVICIOS
ADD CONSTRAINT fk_servicios_hotel
  FOREIGN KEY (ID_HOTEL)
  REFERENCES HOTELES(ID);

ALTER TABLE SERVICIOS
ADD CONSTRAINT fk_servicios_tipo_serv
  FOREIGN KEY (TIPO_SERVICIO)
  REFERENCES TIPO_SERVICIOS(ID);

--//////////////////USUARIOS////////////////////--

ALTER TABLE USUARIOS
ADD CONSTRAINT fk_usuarios_reserva
  FOREIGN KEY (ID_RESERVA)
  REFERENCES RESERVAS(ID);

ALTER TABLE USUARIOS
ADD CONSTRAINT fk_usuarios_tipo_usuario
  FOREIGN KEY (TIPO_USUARIO)
  REFERENCES TIPO_USUARIOS(ID);

ALTER TABLE USUARIOS
ADD CONSTRAINT fk_usuarios_hotel
  FOREIGN KEY (ID_HOTEL)
  REFERENCES HOTELES(ID);

--///////////////////////////////////////////--
--//////////////////CK///////////////////////--
--///////////////////////////////////////////--

--//////////////////HABITACIONES////////////////////--

ALTER TABLE HABITACIONES
ADD CONSTRAINT ck_habitacion
  CHECK (NUM_HABITACION > 0);
 
ALTER TABLE HABITACIONES
ADD CONSTRAINT ck_habitacion_2
  CHECK(CAPACIDAD >=0);
  
ALTER TABLE HABITACIONES
ADD CONSTRAINT ck_habitacion_3
  CHECK(COSTO_NOCHE>=0);

ALTER TABLE HABITACIONES
ADD CONSTRAINT ck_habitacion_4
  CHECK(CUENTA_HABITACION>=0);


--//////////////////PLANES DE CONSUMO////////////////////--
ALTER TABLE PLANES_DE_CONSUMO
ADD CONSTRAINT ck_plan
  CHECK (DESCUENTO >= 0);
  
--//////////////////PRODUCTOS////////////////////--
ALTER TABLE PRODUCTOS
ADD CONSTRAINT ck_productos
  CHECK (PRECIO >= 0);

--//////////////////RESERVAS////////////////////--

ALTER TABLE RESERVAS
ADD CONSTRAINT ck_reserva
  CHECK (NUM_PERSONA > 0);

--//////////////////SERVICIOS////////////////////--

ALTER TABLE SERVICIOS
ADD CONSTRAINT ck_servicio
  CHECK (COSTO >= 0);
  
ALTER TABLE SERVICIOS
ADD CONSTRAINT ck_servicio_2
  CHECK(CARGADO_HABITACION IN(0,1));
  
ALTER TABLE SERVICIOS
ADD CONSTRAINT ck_servicio_3
  CHECK(CAPACIDAD>=0);
  
ALTER TABLE SERVICIOS
ADD CONSTRAINT ck_servicio_4
  CHECK(RESERVADO IN(0,1));

--//////////////////USUARIOS////////////////////--
ALTER TABLE USUARIOS
ADD CONSTRAINT ck_usuarios
  CHECK(TIPO_DOCUMENTO IN ('pasaporte', 'cedula'));